{% extends 'base.html' %}

{% block title %}UlstiStat - Bejelentkezés{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">UltiStat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
</nav>
{% endblock %}


{% block content %}


<div class="d-flex align-items-center justify-content-center" style="height: 100vh">
    <div class="container">
        <div class="row">
            <div
                class="col col-xl-3 offset-xl-4 col-lg-4 offset-lg-4 col-md-5 offset-md-3 col-sm-6 offset-sm-3 col-8 offset-2">
                <div class="card">
                    <h5 class="card-header">Bejelentkezés</h5>
                    <div class="card-body">
                        <form action="#" method="post">
                            <div class="input-field mb-3">
                                <input type="text" autocomplete="off" class="form-control" placeholder="Felhasználónév"
                                    name="username" id="username">
                            </div>
                            <div class="input-field mb-3">
                                <input type="password" autocomplete="off" class="form-control" placeholder="Jelszó"
                                    name="password" , id="password" required>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            {% if category == 'error' %}
                            <div class="alert alert-danger lighten-3">{{ message }}</div>
                            {% else %}
                            <div class="alert alert-primary">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <button type="submit" class="btn btn-primary">Bejelentkezés</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a class="text-center" href="{{ url_for('auth.glogin') }}">
                            <input type="image"
                                src="{{ url_for('static', filename='images/btn_google_signin_light_normal_web.png') }}"></input>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    < </div>
</div>

{% endblock %}