{% block doc %}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  {% block html %}

  <head>
    {% block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metas %}

    {% block styles %}
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notie.min.css') }}">

    <style>
      .alnright {
        text-align: right;
      }

      .nowrap {
        white-space: nowrap;
      }
    </style>

    {% endblock styles %}
    {%-endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body %}
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">UltiStat</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path=='/ulti/games' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('ulti.games') }}">Játszmák</a>
          </li>
          <li class="nav-item {% if request.path=='/ulti/result-summary' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('ulti.result-summary') }}">Nyeremények</a>
          </li>
          <li class="nav-item {% if request.path=='/ulti/players' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('ulti.players') }}">Játékosok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Kijelentkezés</a>
          </li>
        </ul>
      </div>
    </nav>

    {% endblock navbar %}
    {% block content %}
    {% endblock content %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='populatejs/populatejs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notie.min.js') }}"></script>
    {% endblock scripts %}
    {% endblock body %}
    </body>
    {% endblock html %}

    </html>
    {% endblock doc %}