{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<style>
    .top-left-input {
        width: 15em !important;
    }

    table#table-game-result {
        text-align: center;
    }

    table#table-quiet-result {
        text-align: center;
    }

    input[type="checkbox"][readonly] {
        pointer-events: none;
    }

    select[readonly] {
        pointer-events: none;
    }
</style>
{% endblock %}

{% block title %}UlstiStat - Játszmák{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col">
            <h4>Játszmák</h4>
        </div> <!-- col -->
        <div class="col">
            <a class="btn btn-danger float-right" onclick="addNewGame()"><i class="bi bi-plus-circle"></i></a>
        </div> <!-- col -->
    </div> <!-- row -->

    <!-- pagination -->
    {% if page_range|length > 1 %}
    <nav aria-label="...">
        <ul class="pagination">
            {% if prev_url %}
            <li class="page-item">
                {% else %}
            <li class="page-item disabled">
                {% endif %}
                <a class="page-link" href="{{ prev_url }}" aria-label="Previous" tabindex="-1">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for page in page_range %}
            {% if page == page_current %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('ulti.games', page=page) }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}

            {% if next_url %}
            <li class="page-item">
                {% else %}
            <li class="page-item disabled">
                {% endif %}
                <a class="page-link" href="{{ next_url }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}

    <div class="row">
        <div class="col table-responsive-sm">
            <table class="table nowrap">
                <thead>
                    <tr>
                        <th scope="col">Dátum</th>
                        <th scope="col">Időpont</th>
                        <th scope="col">Játék</th>
                        <th scope="col">F/V1/V2</th>
                        <th scope="col">Nyeremény</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for game in games %}
                    <tr>
                        <td scope="row">{{ game.date }}</td>
                        <td>{{ game.time.strftime('%H:%M') }}</td>
                        <td>{{ game.designation() }}</td>
                        <td>{{ game.challenger.name }}/{{ game.defender1.name }}/{{ game.defender2.name }}</td>
                        <td>{{ game.value(Role.challenger) }}/{{ game.value(Role.defender1) }}/{{
                            game.value(Role.defender2) }}</td>
                        <td class="alnright">
                            <button class="btn btn-warning" type="button" onclick="editGame({{ game.id }})"><i
                                    class="bi bi-pencil"></i></button>
                            <button class="btn btn-danger" type="button" onclick="deleteGame({{ game.id }})"><i
                                    class="bi bi-x-circle"></i></button>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div> <!-- col -->
    </div> <!-- row -->

    <!-- pagination -->
    {% if page_range|length > 1 %}
    <nav aria-label="...">
        <ul class="pagination">
            {% if prev_url %}
            <li class="page-item">
                {% else %}
            <li class="page-item disabled">
                {% endif %}
                <a class="page-link" href="{{ prev_url }}" aria-label="Previous" tabindex="-1">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for page in page_range %}
            {% if page == page_current %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('ulti.games', page=page) }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}

            {% if next_url %}
            <li class="page-item">
                {% else %}
            <li class="page-item disabled">
                {% endif %}
                <a class="page-link" href="{{ next_url }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}

</div> <!-- contaier -->


<!-- Game Dialog -->

<div class="modal" id="game-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Új játszma hozzáadása</h6>
            </div>
            <div class="modal-body">
                <form id="game-form" action="#" method="post">

                    <div class="form-row d-none">
                        <div class="form-group col">
                            <div class="input-field">
                                <input type="text" required class="form-control" name="id" id="id">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <small class="form-text text-muted">Dátum</small>
                            <div class="input-field">
                                <input type="date" required class="form-control" name="date" id="date">
                            </div>
                        </div>

                        <div class="form-group col">
                            <small class="form-text text-muted">Időpont</small>
                            <div class="input-field">
                                <input type="time" required class="form-control" name="time" id="time">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-10">
                            <div class="form-row">
                                <div class="form-group col">
                                    <small class="form-text text-muted">Felvevő</small>
                                    <select class="custom-select" id="challenger" name="challenger">
                                        <option value="0" selected>Válassz...</option>
                                        {% for player in players %}
                                        <option value="{{ player.id }}">{{ player.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col">
                                    <small class="form-text text-muted">Védő 1</small>
                                    <select class="custom-select" id="defender1" name="defender1">
                                        <option value="0" selected>Válassz...</option>
                                        {% for player in players %}
                                        <option value="{{ player.id }}">{{ player.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col">
                                    <small class="form-text text-muted">Védő 2</small>
                                    <select class="custom-select" id="defender2" name="defender2">
                                        <option value="0" selected>Válassz...</option>
                                        {% for player in players %}
                                        <option value="{{ player.id }}">{{ player.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col col-1">
                            <div class="row align-items-center" style="height: 100%;">
                                <div class="col" style="height: 100%;">
                                    <button class="btn btn-light" style="height: 100%;" type="button"
                                        onclick="rotatePlayers()"><i class="bi bi-arrow-repeat"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="form-row">
                        <div class="form-group col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="red-game" name="red-game"
                                    onchange="onToggleRedGameOpenGame(this)">
                                <label class=" form-check-label" for="red-game">
                                    piros/re-
                                </label>
                            </div>
                        </div>

                        <div class="form-group col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="colorless" name="colorless"
                                    onchange="adjustFormElements()">
                                <label class="form-check-label" for="colorless">
                                    színtelen
                                </label>
                            </div>
                        </div>

                        <div class="form-group col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="open-game" name="open-game"
                                    onchange="onToggleRedGameOpenGame(this)">
                                <label class="form-check-label" for="open-game">
                                    terített
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <table class="table table-sm" id="table-game-result">
                                <thead>
                                    <tr>
                                        <th scope="col">Játék</th>
                                        <th scope="col">Licit</th>
                                        <th scope="col" colspan="2">(V1) Kontra (V2)</th>
                                        <th scope="col">Teljesülés</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="bid-row">
                                        <td scope="row">sima</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input bid-check" type="checkbox" value=""
                                                    id="plain-game" name="plain-game"
                                                    onchange="onBidCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="input-group-sm">
                                                <select class="custom-select" id="plain-game-contra"
                                                    name="plain-game-contra">
                                                    <option selected></option>
                                                    <option value="1">kontra</option>
                                                    <option value="2">rekontra</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input check-success" type="checkbox" value=""
                                                    id="plain-game-success" name="plain-game-success"
                                                    onchange="onSuccessChange(this)">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="bid-row">
                                        <td scope="row">40-100</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input bid-check" type="checkbox" value=""
                                                    id="fourty-hundred" name="fourty-hundred"
                                                    onchange="onBidCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="input-group-sm">
                                                <select class="custom-select" id="fourty-hundred-contra"
                                                    name="fourty-hundred-contra">
                                                    <option selected></option>
                                                    <option value="1">kontra</option>
                                                    <option value="2">rekontra</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input check-success" type="checkbox" value=""
                                                    id="fourty-hundred-success" name="fourty-hundred-success"
                                                    onchange="onSuccessChange(this)">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="bid-row">
                                        <td scope="row">négy ász</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input bid-check" type="checkbox" value=""
                                                    id="four-asses" name="four-asses"
                                                    onchange="onBidCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="input-group-sm">
                                                <select class="custom-select" id="four-asses-contra"
                                                    name="four-asses-contra">
                                                    <option selected></option>
                                                    <option value="1">kontra</option>
                                                    <option value="2">rekontra</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input check-success" type="checkbox" value=""
                                                    id="four-asses-success" name="four-asses-success"
                                                    onchange="onSuccessChange(this)">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="bid-row">
                                        <td scope="row">ulti</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input bid-check" type="checkbox" value=""
                                                    id="ulti" name="ulti" onchange="onBidCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="input-group-sm">
                                                <select class="custom-select" id="ulti-contra" name="ulti-contra">
                                                    <option selected></option>
                                                    <option value="1">kontra</option>
                                                    <option value="2">rekontra</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input check-success" type="checkbox" value=""
                                                    id="ulti-success" name="ulti-success"
                                                    onchange="onSuccessChange(this)">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="bid-row">
                                        <td scope="row">betli</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input bid-check" type="checkbox" value=""
                                                    id="betli" name="betli" onchange="onBidCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group-sm">
                                                <select class="custom-select" id="betli-contra" name="betli-contra">
                                                    <option selected></option>
                                                    <option value="1">kontra</option>
                                                    <option value="2">rekontra</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group-sm">
                                                <select class="custom-select" id="betli-contra2" name="betli-contra2">
                                                    <option selected></option>
                                                    <option value="1">kontra</option>
                                                    <option value="2">rekontra</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input check-success" type="checkbox" value=""
                                                    id="betli-success" name="betli-success"
                                                    onchange="onSuccessChange(this)">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="bid-row">
                                        <td scope="row">durchmars</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input bid-check" type="checkbox" value=""
                                                    id="durchmars" name="durchmars" onchange="onBidCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td id="durchmars-contra-td">
                                            <div class="input-group-sm">
                                                <select class="custom-select" id="durchmars-contra"
                                                    name="durchmars-contra">
                                                    <option selected></option>
                                                    <option value="1">kontra</option>
                                                    <option value="2">rekontra</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td id="durchmars-contra2-td">
                                            <div class="input-group-sm">
                                                <select class="custom-select" id="durchmars-contra2"
                                                    name="durchmars-contra2">
                                                    <option selected></option>
                                                    <option value="1">kontra</option>
                                                    <option value="2">rekontra</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input check-success" type="checkbox" value=""
                                                    id="durchmars-success" name="durchmars-success"
                                                    onchange="onSuccessChange(this)">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="bid-row">
                                        <td scope="row">20-100</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input bid-check" type="checkbox" value=""
                                                    id="twenty-hundred" name="twenty-hundred"
                                                    onchange="onBidCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="input-group-sm">
                                                <select class="custom-select" id="twenty-hundred-contra"
                                                    name="twenty-hundred-contra">
                                                    <option selected></option>
                                                    <option value="1">kontra</option>
                                                    <option value="2">rekontra</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input check-success" type="checkbox" value=""
                                                    id="twenty-hundred-success" name="twenty-hundred-success"
                                                    onchange="onSuccessChange(this)">
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <table class="table table-sm" id="table-quiet-result">
                                <thead>
                                    <tr>
                                        <th scope="col">Egyebek</th>
                                        <th scope="col">Felvevő</th>
                                        <th scope="col">Védő 1</th>
                                        <th scope="col">Védő 2</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td scope="row">csendes 100</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="quiet-hundred-challenger" name="quiet-hundred-challenger"
                                                    onchange="onQuietHundredCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="quiet-hundred-defenders" name="quiet-hundred-defenders"
                                                    onchange="onQuietHundredCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td scope="row">csendes négy ász</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="quiet-four-asses-challenger" name="quiet-four-asses-challenger"
                                                    onchange="onQuietFourAssesCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="quiet-four-asses-defenders" name="quiet-four-asses-defenders"
                                                    onchange="onQuietFourAssesCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td scope="row">csendes ulti</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="quiet-ulti-challenger" name="quiet-ulti-challenger"
                                                    onchange="onQuietUltiCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="quiet-ulti-defender1" name="quiet-ulti-defender1"
                                                    onchange="onQuietUltiCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="quiet-ulti-defender2" name="quiet-ulti-defender2"
                                                    onchange="onQuietUltiCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <small class="form-text text-muted">bukott</small>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="quiet-ulti-failed" name="quiet-ulti-failed">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td scope="row">renonsz</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="renonce-challenger" name="renonce-challenger"
                                                    onchange="onRenonceCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="renonce-defender1" name="renonce-defender1"
                                                    onchange="onRenonceCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="renonce-defender2" name="renonce-defender2"
                                                    onchange="onRenonceCheckChanged(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <small class="form-text text-muted">parner által</small>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="renonce-by-partner" name="renonce-by-partner">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td scope="row">bedobás</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="throw-in"
                                                    name="throw-in" onchange="onThrowIn(this)">
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" id="dialog-ok-button"
                            onclick="okGameForm()">Hozzáad</button>
                        <button class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<script>

    function getIsoDate(date) {
        year = date.getFullYear();
        month = date.getMonth() + 1;
        dt = date.getDate();

        if (dt < 10) {
            dt = '0' + dt;
        }
        if (month < 10) {
            month = '0' + month;
        }
        return year + '-' + month + '-' + dt;
    }

    function getIsoTime(date) {
        pad = function (num) {
            var norm = Math.floor(Math.abs(num));
            return (norm < 10 ? '0' : '') + norm;
        };
        return pad(date.getHours()) + ":" + pad(date.getMinutes()) + ":00";
    }

    function resetDialog() {
        populatejs({
            "betli": false,
            "betli-contra": 0,
            "betli-contra2": 0,
            "betli-success": false,
            "challenger": 0,
            "colorless": false,
            "date": getIsoDate(now),
            "defender1": 0,
            "defender2": 0,
            "durchmars": false,
            "durchmars-contra": 0,
            "durchmars-contra2": 0,
            "durchmars-success": false,
            "four-asses": false,
            "four-asses-contra": 0,
            "four-asses-success": false,
            "fourty-hundred": false,
            "fourty-hundred-contra": 0,
            "fourty-hundred-success": false,
            "id": 0,
            "open-game": false,
            "plain-game": true,
            "plain-game-contra": 0,
            "plain-game-success": false,
            "quiet-four-asses-challenger": false,
            "quiet-four-asses-defenders": false,
            "quiet-hundred-challenger": false,
            "quiet-hundred-defenders": false,
            "quiet-ulti-challenger": false,
            "quiet-ulti-defender1": false,
            "quiet-ulti-defender2": false,
            "quiet-ulti-failed": false,
            "red-game": false,
            "renonce-by-partner": false,
            "renonce-challenger": false,
            "renonce-defender1": false,
            "renonce-defender2": false,
            "throw-in": false,
            "time": getIsoTime(now),
            "twenty-hundred": false,
            "twenty-hundred-contra": 0,
            "twenty-hundred-success": false,
            "ulti": false,
            "ulti-contra": 0,
            "ulti-success": false,
        });
    }

    function addNewGame() {
        document.querySelector("#game-dialog .modal-header h6").innerHTML = "Új játszma hozzáadása";
        document.querySelector("#dialog-ok-button").innerHTML = "Hozzáad";
        now = new Date(Date.now());
        resetDialog();
        let data = $.ajax({
            url: "{{ url_for('ulti.last_players_api') }}",
            type: 'GET',
            async: false,
            success: function (result) {
                populatejs(result);
            },
            error: function (result) {
                // silently ignore error
            }
        });

        adjustFormElements();
        $("#game-dialog").modal();
    }

    function editGame(id) {
        document.querySelector("#game-dialog .modal-header h6").innerHTML = "Játszma módostása";
        document.querySelector("#dialog-ok-button").innerHTML = "Módosít";
        let url_template = '{{ url_for("ulti.game_api", id=999999999) }}';
        let api_url = encodeURI(url_template.replace(encodeURIComponent("999999999"), id));
        let data = $.ajax({
            url: api_url,
            type: 'GET',
            success: function (result) {
                populatejs(result);
                adjustFormElements();
                $("#game-dialog").modal();
            },
            error: function (result) {
                let responseJSON = result["responseJSON"];
                notie.alert({ type: "error", text: "Váratlan hiba történt!" + (responseJSON ? " " + responseJSON.message : ""), stay: true });
            }
        });
    }

    function deleteGame(id) {
        notie.confirm({
            text: "Biztos?",
            submitText: "igen",
            cancelText: "nem",
        }, function () {
            let url_template = '{{ url_for("ulti.game_api", id=999999999) }}';
            let api_url = encodeURI(url_template.replace(encodeURIComponent("999999999"), id));
            $.ajax({
                url: api_url,
                type: 'DELETE',
                success: function (result) {
                    location.reload()
                },
                error: function (result) {
                    let responseJSON = result["responseJSON"];
                    notie.alert({ type: "error", text: "Váratlan hiba történt!" + (responseJSON ? " " + responseJSON.message : ""), stay: true });
                }
            });
        });
    }

    function okGameForm() {
        let data = new FormData(document.querySelector("#game-form"));
        let game = Object.fromEntries(data.entries());
        let url_template = '{{ url_for("ulti.game_api", id=999999999) }}';
        let api_url = encodeURI(url_template.replace(encodeURIComponent("999999999"), document.getElementById("id").value));
        $.ajax({
            url: api_url,
            type: game.id == 0 ? 'POST' : 'PUT',
            data: game,
            success: function (result) {
                $("#game-dialog").modal("hide");
                location.reload()
            },
            error: function (result) {
                let responseJSON = result["responseJSON"];
                notie.alert({ type: "error", text: "Váratlan hiba történt!" + (responseJSON ? " " + responseJSON.message : ""), stay: true });
            }
        });
    }


    function clearBidRow(id_bases) {
        for (id_base of id_bases) {
            document.getElementById(id_base).checked = false;
            document.getElementById(id_base + "-contra").selectedIndex = "0";
            optionalSecondContra = document.getElementById(id_base + "-contra2");
            if (optionalSecondContra != undefined) {
                optionalSecondContra.selectedIndex = "0";
            }
            document.getElementById(id_base + "-success").checked = false;
        }
    }

    let challenger = document.getElementById("challenger");
    let defender1 = document.getElementById("defender1");
    let defender2 = document.getElementById("defender2");

    let colorless = document.getElementById("colorless");
    let redGame = document.getElementById("red-game");
    let openGame = document.getElementById("open-game");

    let plainGame = document.getElementById("plain-game");
    let fourtyHundred = document.getElementById("fourty-hundred");
    let fourAsses = document.getElementById("four-asses");
    let ulti = document.getElementById("ulti");
    let betli = document.getElementById("betli");
    let durchmars = document.getElementById("durchmars");
    let twentyHundred = document.getElementById("twenty-hundred");
    let throwIn = document.getElementById("throw-in");

    let quietHundredChallenger = document.getElementById("quiet-hundred-challenger");
    let quietHundredDefenders = document.getElementById("quiet-hundred-defenders");

    let quietFourAssesChallenger = document.getElementById("quiet-four-asses-challenger");
    let quietFourAssesDefenders = document.getElementById("quiet-four-asses-defenders");

    let quietUltiChallenger = document.getElementById("quiet-ulti-challenger");
    let quietUltiDefender1 = document.getElementById("quiet-ulti-defender1");
    let quietUltiDefender2 = document.getElementById("quiet-ulti-defender2");
    let quietUltiFailed = document.getElementById("quiet-ulti-failed");

    let renonceChallenger = document.getElementById("renonce-challenger");
    let renonceDefender1 = document.getElementById("renonce-defender1");
    let renonceDefender2 = document.getElementById("renonce-defender2");
    let renonceByPatner = document.getElementById("renonce-by-partner");

    function adjustFormElements() {
        colorless.removeAttribute("readonly");
        if (betli.checked || durchmars.checked) {
            openGame.disabled = false;

            if (betli.checked) {
                colorless.checked = true;
                colorless.disabled = false;
                colorless.setAttribute("readonly", "");
                if (redGame.checked && openGame.checked) {
                    openGame.checked = false;
                }
            }
            else if (fourtyHundred.checked || twentyHundred.checked || ulti.checked) {
                colorless.checked = false;
                colorless.disabled = true;
            } else {
                colorless.disabled = false;
            }

        } else {
            openGame.disabled = true;
            openGame.checked = false;
            colorless.disabled = true;
            colorless.checked = false;
        }

        if ((fourAsses.checked || ulti.checked) &&
            !(fourtyHundred.checked || twentyHundred.checked || durchmars.checked)) {
            plainGame.checked = true;
        }

        let bidCheckboxes = document.querySelectorAll("#table-game-result input.bid-check[type=checkbox]");
        let anyChecked = [].filter.call(bidCheckboxes, function (cb) {
            return cb.checked;
        });

        if (anyChecked.length == 0) {
            clearBidRow(["fourty-hundred", "four-asses", "ulti", "betli", "durchmars", "twenty-hundred"]);
            plainGame.checked = true;
            colorless.checked = false;
            colorless.disabled = true;
            openGame.disabled = true;
        }

        [].forEach.call(bidCheckboxes, function (cb) {
            document.getElementById(cb.id + "-success").disabled = !cb.checked;
            document.getElementById(cb.id + "-contra").disabled = !cb.checked;
            optionalSecondContra = document.getElementById(cb.id + "-contra2");
            if (optionalSecondContra != undefined) {
                optionalSecondContra.disabled = !cb.checked;
            }
        });

        if ((plainGame.checked ||
            fourAsses.checked ||
            ulti.checked ||
            durchmars.checked) &&
            !(fourtyHundred.checked ||
                twentyHundred.checked)) {
            quietHundredChallenger.disabled = false;
            quietHundredDefenders.disabled = false;
        } else {
            quietHundredChallenger.checked = false;
            quietHundredDefenders.checked = false;
            quietHundredChallenger.disabled = true;
            quietHundredDefenders.disabled = true;
        }

        if (fourAsses.checked ||
            betli.checked ||
            durchmars.checked) {
            quietFourAssesChallenger.checked = false;
            quietFourAssesDefenders.checked = false;
            quietFourAssesChallenger.disabled = true;
            quietFourAssesDefenders.disabled = true;
        } else {
            quietFourAssesChallenger.disabled = false;
            quietFourAssesDefenders.disabled = false;
        }

        if (ulti.checked ||
            betli.checked ||
            (durchmars.checked &&
                colorless.checked)) {
            quietUltiChallenger.disabled = true;
            quietUltiDefender1.disabled = true;
            quietUltiDefender2.disabled = true;
            quietUltiFailed.disabled = true;
            quietUltiChallenger.checked = false;
            quietUltiDefender1.checked = false;
            quietUltiDefender2.checked = false;
            quietUltiFailed.checked = false;
        } else {
            quietUltiChallenger.disabled = false;
            quietUltiDefender1.disabled = false;
            quietUltiDefender2.disabled = false;
            quietUltiFailed.disabled = false;
        }

        if (colorless.checked && durchmars.checked) {
            document.getElementById("durchmars-contra-td").setAttribute("colspan", "1");
            document.getElementById("durchmars-contra2-td").hidden = false;
        } else {
            document.getElementById("durchmars-contra-td").setAttribute("colspan", "2");
            document.getElementById("durchmars-contra2-td").hidden = true;
        }

        renonceChallenger.disabled = false;
        renonceDefender1.disabled = false;
        renonceDefender2.disabled = false;
        renonceByPatner.disabled = false;

        if (document.getElementById("renonce-challenger").checked || document.getElementById("renonce-defender1").checked || document.getElementById("renonce-defender2").checked) {
            for (cb of document.querySelectorAll(".check-success")) {
                cb.checked = false;
                cb.disabled = true;
            }
        }

        if (throwIn.checked) {
            onThrowIn(throwIn);
        }

        adjustBidRowBackgroundColor();
    }

    function adjustBidRowBackgroundColor() {
        for (tableRow of document.querySelectorAll(".bid-row")) {
            cbBid = tableRow.querySelector(".bid-check");
            cbSuccess = tableRow.querySelector(".check-success");
            if (cbBid.checked) {
                if (cbSuccess.checked) {
                    tableRow.setAttribute("style", "background-color:lightgreen;")
                }
                else {
                    tableRow.setAttribute("style", "background-color:lightcoral;")
                }
            }
            else {
                tableRow.removeAttribute("style");
            }
        }
    }

    function onToggleRedGameOpenGame(cb) {
        if (betli.checked) {
            if (cb == redGame) {
                openGame.checked = !cb.checked
            } else if (cb == openGame) {
                redGame.checked = !cb.checked
            }
        }
    }

    function onBidCheckChanged(cb) {
        switch (cb.id) {
            case "plain-game":
                if (cb.checked == true) {
                    clearBidRow(["fourty-hundred", "betli", "durchmars", "twenty-hundred"]);
                } else {
                    clearBidRow([cb.id]);
                }
                break;
            case "fourty-hundred":
                if (cb.checked == true) {
                    clearBidRow(["plain-game", "betli", "twenty-hundred"]);
                } else {
                    clearBidRow([cb.id]);
                }
                break;
            case "four-asses":
                if (cb.checked == true) {
                    clearBidRow(["betli", "durchmars"]);
                } else {
                    clearBidRow([cb.id]);
                }
                break;
            case "durchmars":
                if (cb.checked == true) {
                    clearBidRow(["plain-game", "four-asses", "betli"]);
                } else {
                    clearBidRow([cb.id]);
                }
                break;
            case "ulti":
                if (cb.checked == true) {
                    clearBidRow(["betli"]);
                } else {
                    clearBidRow([cb.id]);
                }
                break;
            case "twenty-hundred":
                if (cb.checked == true) {
                    clearBidRow(["plain-game", "fourty-hundred", "betli"]);
                } else {
                    clearBidRow([cb.id]);
                }
                break;
            case "betli":
                if (cb.checked == true) {
                    clearBidRow(["plain-game", "fourty-hundred", "four-asses", "ulti", "durchmars", "twenty-hundred"]);
                } else {
                    clearBidRow([cb.id]);
                }
                break;
        }

        adjustFormElements();
    }

    function onSuccessChange(cb) {
        adjustBidRowBackgroundColor();
    }

    function onRenonceCheckChanged(cb) {
        var somethingChecked = false
        for (other_id of ["renonce-challenger", "renonce-defender1", "renonce-defender2"]) {
            other = document.getElementById(other_id);
            if (other.id != cb.id) {
                other.checked = false;
            }
            somethingChecked |= cb.checked;
        }
        if (!somethingChecked) {
            document.getElementById("renonce-by-partner").checked = false;
        }
        if (cb.checked) {
            for (cb of document.querySelectorAll(".check-success")) {
                cb.checked = false;
                cb.disabled = true;
            }
        } else {
            for (cb of document.querySelectorAll(".check-success")) {
                cb.disabled = false;
            }
        }
    }

    function onQuietHundredCheckChanged(cb) {
        for (other_id of ["quiet-hundred-challenger", "quiet-hundred-defenders"]) {
            other = document.getElementById(other_id);
            if (other.id != cb.id) {
                other.checked = false;
            }
        }
    }

    function onQuietFourAssesCheckChanged(cb) {
        for (other_id of ["quiet-four-asses-challenger", "quiet-four-asses-defenders"]) {
            other = document.getElementById(other_id);
            if (other.id != cb.id) {
                other.checked = false;
            }
        }
    }

    function onQuietUltiCheckChanged(cb) {
        for (other_id of ["quiet-ulti-challenger", "quiet-ulti-defender1", "quiet-ulti-defender2"]) {
            other = document.getElementById(other_id);
            if (other.id != cb.id) {
                other.checked = false;
            }
        }
    }

    function rotatePlayers() {
        var temp = challenger.value;
        challenger.value = defender1.value;
        defender1.value = defender2.value;
        defender2.value = temp;
    }

    function adjustContraOnTwhrowIn(throwIn, bidGiven, contra) {
        if (throwIn) {
            if (bidGiven) {
                contra.value = 1;
            }
            contra.setAttribute("readonly", "");
        } else {
            contra.removeAttribute("readonly");
        }
    }

    function onThrowIn(cb) {
        if (cb.checked) {
            quietHundredChallenger.disabled = true;
            quietHundredDefenders.disabled = true;

            quietFourAssesChallenger.disabled = true;
            quietFourAssesDefenders.disabled = true;

            quietUltiChallenger.disabled = true;
            quietUltiDefender1.disabled = true;
            quietUltiDefender2.disabled = true;
            quietUltiFailed.disabled = true;

            renonceChallenger.disabled = true;
            renonceDefender1.disabled = true;
            renonceDefender2.disabled = true;
            renonceByPatner.disabled = true;
        }

        let bidCheckboxes = document.querySelectorAll("#table-game-result input.bid-check[type=checkbox]");

        [].forEach.call(bidCheckboxes, function (bidCb) {
            let success = document.getElementById(bidCb.id + "-success");
            if (cb.checked) {
                success.checked = false;
            }
            success.disabled = cb.checked || !bidCb.checked;
            let contra = document.getElementById(bidCb.id + "-contra");
            adjustContraOnTwhrowIn(cb.checked, bidCb.checked, contra);
            optionalSecondContra = document.getElementById(bidCb.id + "-contra2");
            if (optionalSecondContra != undefined) {
                adjustContraOnTwhrowIn(bidCb.checked, bidCb.checked, optionalSecondContra);
            }
        });

        if (!cb.checked) {
            adjustFormElements();
        }
    }

</script>
{% endblock %}