{% extends 'base.html' %}

{% block title %}UlstiStat - Játékosok{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col">
            <h4>Játékosok</h4>
        </div> <!-- col -->
        <div class="col">
            <a class="btn btn-danger float-right" data-toggle="modal" data-target="#add-player-dialog"><i
                    class="bi bi-plus-circle"></i></a>
        </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
        <div class="col">

            <table class="table nowrap">
                <thead>
                    <tr>
                        <th scope="col">Név</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for player in players %}
                    <tr>
                        <td scope="row">{{ player.name }}</td>
                        <td class="alnright">
                            <button class="btn btn-warning" type="button"
                                onclick='editPlayer("{{ url_for("ulti.player_api", id=player.id) }}", {{ player.json()|tojson }})'><i
                                    class="bi bi-pencil"></i></button>
                            <button class="btn btn-danger" type="button"
                                onclick="deletePlayer('{{ url_for('ulti.player_api', id=player.id) }}')"><i
                                    class="bi bi-x-circle"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div> <!-- col -->
    </div> <!-- row -->
</div> <!-- contaier -->



<!-- Modal New Dialog -->

<div class="modal" id="add-player-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Új játékos hozzáadása</h6>
            </div>
            <div class="modal-body">
                <form id="add-form" action="#" method="post">
                    <div class="input-field">
                        <input type="text" class="form-control" placeholder="játékos neve" name="name" id="name">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button"
                            onclick="createPlayer('{{ url_for('ulti.player_api', id=0) }}', document.querySelector('form input#name').value )">Hozzáad</button>
                        <button class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Dialog -->

<div class="modal" id="edit-player-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Játékos módosítása</h6>
            </div>
            <div class="modal-body">
                <form id="edit-form" action="#" method="post">
                    <div class="input-field">
                        <input type="text" class="form-control" placeholder="játékos neve" name="name" id="name">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button"
                            onclick="current_player.name = document.querySelector('form#edit-form input#name').value; updatePlayer(current_target_url, current_player)">Módosít</button>
                        <button class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    var current_target_url = undefined;
    var current_player = undefined;

    function deletePlayer(target_url) {
        notie.confirm({
            text: "Biztos?",
            submitText: "igen",
            cancelText: "nem",
        }, function () {
            $.ajax({
                url: target_url,
                type: 'DELETE',
                success: function (result) {
                    location.reload()
                },
                error: function (result) {
                    let responseJSON = result["responseJSON"];
                    notie.alert({ type: "error", text: "Váratlan hiba történt!" + (responseJSON ? " " + responseJSON.message : ""), stay: true });
                }
            });
        });
    }

    function createPlayer(target_url, name) {
        $.ajax({
            url: target_url,
            type: 'POST',
            data: { 'name': name },
            success: function (result) {
                location.reload()
            },
            error: function (result) {
                let responseJSON = result["responseJSON"];
                notie.alert({ type: "error", text: "Váratlan hiba történt!" + (responseJSON ? " " + responseJSON.message : ""), stay: true });
            }
        });
    }
    function updatePlayer(target_url, player) {
        $.ajax({
            url: target_url,
            type: 'PUT',
            data: player,
            success: function (result) {
                location.reload()
            },
            error: function (result) {
                let responseJSON = result["responseJSON"];
                notie.alert({ type: "error", text: "Váratlan hiba történt!" + (responseJSON ? " " + responseJSON.message : ""), stay: true });
            }
        });
    }
    function editPlayer(target_url, player) {
        document.querySelector('form#edit-form input#name').value = player.name
        current_target_url = target_url;
        current_player = player;
        $('#edit-player-dialog').modal();
    }
</script>
{% endblock %}