{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<style>
    td.min-width-col {
        width: 1%;
        white-space: nowrap;
    }
</style>
{% endblock %}

{% block title %}UlstiStat - Eredmények{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col">
            <h4>Játékeredmények összesítése</h4>
        </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
        <div class="col">
            <form id="date-form" action="#" method="get">

                <div class="form-row align-items-end">
                    <div class="form-group col">
                        <small class="form-text text-muted">tól</small>
                        <div class="input-field">
                            <input type="date" required class="form-control" name="date_from" id="date_from"
                                value="{{ date_from }}">
                        </div>
                    </div>

                    <div class="form-group col">
                        <small class="form-text text-muted">ig</small>
                        <div class="input-field">
                            <input type="date" required class="form-control" name="date_to" id="date_to"
                                value="{{ date_to }}">
                        </div>
                    </div>

                    <div class="form-group col">
                        <button class="btn btn-primary col" type="submit" id="update-dates">Frissít</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col table-responsive-sm">
            {% if message %}
            <h6>{{ message }}</h6>
            {% elif results|length > 0 %}
            <table class="table nowrap">
                <thead>
                    <tr>
                        <th cope="col">Helyezés</th>
                        <th scope="col">Név</th>
                        <th scope="col">Játszmák (lejátszott)</th>
                        <th scope="col">Felvevőként (lejátszott)</th>
                        <th scope="col">Nyeremény</th>
                        <th scope="col">Átlag nyeremény</th>
                    </tr>
                </thead>

                <tbody>
                    {% for result in results %}
                    <tr>
                        <td class="min-width-col" scope="row">{{ loop.index }}</td>
                        <td>{{ result.name }}</td>
                        <td>{{ result.data.no_of_games }} ({{ result.data.no_of_played_games }})</td>
                        <td>{{ result.data.as_challenger }} ({{ result.data.no_of_played_games_as_challenger }})</td>
                        <td>{{ result.data.score }}</td>
                        <td>{{ result.data.score_per_game }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h6>Nincsen játszma a megadott időszakon belül.</h6>
            {% endif %}

        </div> <!-- col -->
    </div> <!-- row -->
</div> <!-- contaier -->

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
</script>
{% endblock %}